.container {
  margin-top: 28px;
}
form {
 display: flex;
}

.imageContainer {
  display: flex;
  justify-content: center;
}
.step-title {
  margin-left: 12px;
  font-size: xx-large;
  font-weight: 600;
}

